/* azzeramento parametri */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* formattazione generale */
body{
    font-family: "Poppins", 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 18px
}

.dimensioni{
    width: 50%;
    margin: auto;
}

a{
    color: white;
    text-decoration: none;
}

/* formattazione header */
header nav{
    height: 80px;
    padding-top: 10px;
    background-color: rgb(37 94 233);
}

#menu{
    /* flexbox */
    display: flex;
    align-items: center;
    /* debug */
    height: 60px;
}


#login{
    width: 20%;
    text-align: right;
}

/* formattazione bottoni */
.bottone{
    padding: 10px 16px;
    border-radius: 20px;
    border: none;
    font-size: 18px;
}


.bottone_white{
    color: black;
}

#bottone_black{
    background-color: black;
    color: white;
    margin-left: 20px;
    
}


#voci{
    width: 60%;
    /* flexboox */
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    flex-wrap: nowrap;
}

header section{
    padding: 50px 0;
    background-image: url('../img/jumbo.png');
    background-size: cover;
    background-position: center;
    padding-bottom: 100px;
}

.panoramica{
    width: 40%;
    margin: 80px auto;
    color: white;
    text-align: center;
    /* debug */
}

.panoramica h1{
    font-size: 60px;
    margin-bottom: 50px;
}

.panoramica p{
    margin-bottom: 30px;
}

/* freccia download */
.fa-arrow-down-long{
    font-size: 14px;
    vertical-align: middle;
    height: 17px;
}

/* formattazione main pagina */
.finestra{
    /* flexbox */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 70px 0;
}

.img{
    width: 30%;
    text-align: center;
}

.description{
    width: 14%;
    margin: 0 50px;
    margin-bottom: 30px;
}

.description h2{
    font-size: 38px;
    margin-bottom: 25px;
    line-height: 40px;
}

.bg_grey{
    background-color:rgb(246 246 246);
}

#download{
    /* debug */
    background-color:rgb(34 139 34);
    height: 1100px;

}

.padding{
    padding: 40px 0;
}

/* formattazione footer */
footer{
    padding: 40px 0;
    background-color:rgb(35 39 42);
    /* debug */
    height: 730px;
}

footer nav{
    padding-bottom: 30px;
    border-bottom: 3px solid #5865f2;
    /* flexbox */
    display: flex;
}

#social{
    width: 40%;
    /* debug */
    height: 500px;
    background-color:rgb(240 128 128);
}

.info{
    width: 20%;
    /* debug */
    height: 500px;
    background-color:rgb(32 178 170);
    border: 2px solid black;
}

footer section{
    margin-top: 20px !important;
    height: 80px;
    /* flexbox */
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* debug */
    background-color:rgb(127 255 212);
}

.logo{
    /* debug */
    width: 20%;
    padding-top: 10px;
    font-size: 16px
}

